streamlit       # For building the web app
tensorflow==2.18.0         # For model training and prediction
numpy>=1.26.0,<2.1.0             # For numerical operations
matplotlib==3.8.0         # For plotting training results
pillow            # For image processing
pymupdf           # For extracting images from PDFs
python-pptx       # For extracting images from PowerPoint
python-docx      # For extracting images from Word documents
pdfplumber==0.9.0         # Alternative for handling PDFs (optional)
opencv-python==4.8.0.74   # For additional image processing (if needed)
scikit-learn       # For any additional ML utilities
gdown





